<footer class="f-info p-2 bg-light border-top">
  <div class="social">
    <a href="#"><i class="fa-brands fa-square-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
  </div>
  <div class="brand">&copy; Wander Private Limited</div>
  <div class="links">
    <a href="#">Privacy Policy</a>
    <a href="#">Terms & Conditions</a>
  </div>
</footer>
