* {
  box-sizing: border-box;
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* navbar */
.navbar {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.navbar .logo {
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  background-color: #fe424d;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.navbar .logo:hover {
  background-color: rgb(200, 50, 60);
  text-decoration: none;
  color: white;
}
.navbar .search-bar {
  margin: 0.5rem 0;
}
.navbar .search-inp {
  border-radius: 25px;
  padding: 0.5rem 3rem;
}
.navbar .search-btn {
  background-color: rgb(254, 66, 77);
  color: white;
  border-radius: 25px;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.navbar .search-btn:hover {
  background-color: rgb(200, 50, 60);
  color: white;
  text-decoration: none;
}
.navbar .nav-links {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
}

/* alert */
.alert {
  width: 100%;
  max-width: 25rem;
  margin: 2rem auto;
}

/* homepage */
.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
  gap: 0.5rem;
  margin: 1rem 0;
  border-bottom: 1px solid lightgrey;
}
.filter {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  opacity: 0.7;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.filter p {
  font-size: 0.8rem;
}

.listings {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 4rem;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}
.listings .listing-card {
  border: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}
.card-img-top {
  height: 15rem;
  width: 100%;
  border-radius: 1rem !important;
  object-fit: cover !important;
}
.card-img-top:hover {
  opacity: 0.8;
}
.card-body p {
  font-weight: 400 !important;
}

/* footer */
.f-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 0;
  gap: 0.5rem;
  font-weight: 500;
}
.f-info .social {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.f-info .social i {
  font-size: 1.4rem;
  color: black;
}
.f-info .links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}
.f-info .links a {
  color: black;
  text-decoration: none;
}

/* listing detail details */
.listing-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}
.listing-details .card {
  border: none;
}
.listing-details .card-img-top {
  width: 100%;
  border-radius: 1rem !important;
  object-fit: cover !important;
}
.map-section {
  width: 100%;
  max-width: 800px;
  margin: 1rem auto;
  padding: 1rem;
  border-top: 1px solid lightgrey;
}
#map {
  height: 350px;
  width: 100%;
  border-radius: 1rem;
}
.listing-reviews {
  max-width: 800px;
  height: 400px;
  margin: 2rem auto;
  padding: 1rem;
  border-top: 1px solid lightgrey;
}
.listing-details .edit-btn {
  width: 75px !important;
}
.edit-form .title {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

/* login / signup / New */
.new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  padding: 2rem 1rem;
  margin: 4rem auto;
  border-radius: 1rem;
  gap: 1rem;
}
.new-form .title,
.new-form label {
  font-weight: 600;
}
.new-form form {
  width: 100%;
}
.login-btn,
.signup-btn {
  width: 100%;
}

/* container & others */
.container {
  flex: 1;
  height: 100vh;
}

.fa-compass {
  font-size: 2rem;
  color: white;
}
